@import models.users.User
@import helper._

@(addFlightForm: Form[models.FlightSchedule], user: User)

@main("Add Flight", user){
    <h3>Add a new Flight</h3>
    
    @form(action = routes.FlightsController.addFlightSubmit(), 'class -> "form-horizontal", 'role -> "form"){
        @inputText(addFlightForm("flight_date"), '_label -> "Flight Date", 'class -> "form-control")
        @inputText(addFlightForm("departure_time"), '_label -> "Departure Time", 'class -> "form-control")
        @inputText(addFlightForm("arrival_time"), '_label -> "Arrival Time", 'class -> "form-control")
        @inputText(addFlightForm("aircraft"), '_label -> "Aircraft", 'class -> "form-control")
        @inputText(addFlightForm("routes"), '_label -> "Route", 'class -> "form-control")
        
        
        
        <div class="actions">
            <input type="submit" value="Add Flight" class="btn btn-primary">
            <a href="@routes.HomeController.index()"
                <button class="btn btn-warning">Cancel</button>
            </a>
        </div>
    }
}
