@import models.users.User
@(flights: List[models.FlightSchedule], user: User)

@main("Flight", user){
    @if(flash.containsKey("success")){
        <div class="alert alert-success">
            @flash.get("success")
        </div>
    }

    <table class="table table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th>Flight</th>
            <th>Route</th>
            <th>Flight Date</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Aircraft</th>
        </tr>
        </thead>
        <tbody>
            <h3>Flight List</h3>
            @for(f <- flights) {
                <tr>
                    <td class="numeric">@f.getFlightID</td>
                    <td class="numeric">@f.getRoutes</td>
                    <td>@f.getFlightDate</td>
                    <td>@f.getDepTime</td>
                    <td>@f.getArrTime</td>
                    <td>@f.getAircraft</td>
                    <td>
                        <a href="@routes.FlightsController.updateFlight(f.getFlightID)" class="btn-xs btn-danger">
                        <span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                    <td>
                        <a href="@routes.FlightsController.deleteFlight(f.getFlightID)" class="btn-xs btn-danger" onclick="return confirmDel();">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        <a href="@routes.FlightsController.addFlight()">
            <button class="btn btn-primary">Add a Flight</button>
        </a>
    </p>
    
    <script>
        function confirmDel(){
            return confirm('Are you sure?');
        }
    </script>
}
